<ion-view view-title="Wall">
	<ion-content>

		<div class="item">

			<div ng-if="postInEdition">
				Editing {{ postInEdition.object.clave }} <a ng-click="deletePost()" >Delete</a>
			</div>

			<textarea placeholder="Enter your text..." rows="3" ng-model="newPost.message">
      </textarea>

			<button class="button button-assertive" ng-click="setup()">
      Setup
    </button>

			<button class="button button-positive" ng-click="clear()">
      Clear
    </button>

			<button class="button button-positive" ng-click="addPost()">
      Add Post
    </button>

		</div>

		<div class="card" ng-repeat="post in posts">

			<!-- Header -->
			<div class="item item-divider header" ng-click="editPost(post, $index)">
				{{ post.name }}<br />
				<div ng-show="!post.editadoEl">
					{{ getDateFormatted(post.creadoEl) }}
				</div>
				<div ng-show="post.editadoEl">
					Editado {{ getDateFormatted(post.editadoEl) }}
				</div>
			</div>

			<!-- Body -->
			<div class="item item-text-wrap">
				{{ post.post }}
				<br />
				<div class="key">
					{{ post.clave }}
				</div>
			</div>

			<!-- Footer -->
			<div class="item footer">
				<img src="/img/likeit.png" />
				<a ng-show="likeNum(keys[$index], $index) > 0" href="#/app/wallLikes/{{keys[$index]}}" class="subdued">
                        {{likes[$index]}}
                    </a>
				<a ng-if="!liked(item.like)" class="subdued" ng-click="like(keys[$index], $index)">Me gusta</a>
				<a ng-if="liked(item.like)" class="subdued color-hermeco" ng-click="dislike(keys[$index], $index)">
                        Me gusta
                    </a>

				<img src="/img/comments.png" />
				<a ng-click="toggleComments($index)" class="subdued">Comentarios {{ commentsCount($index) }}</a>
			</div>

			<!-- Comments -->
			<div class="item item-divider header" ng-show="post.showComments">
				<div class="list">

					<div class="item comment" ng-repeat="comment in post.comments">
						{{ comment.name }}: {{ comment.post }}
						<br /> {{ getDateFormatted(comment.creadoEl) }}
					</div>

				</div>

				<!-- Add Comment -->
				<div class="item-input-inset" ng-class="{ 'has-errors' : publicacion.descripcion.$invalid , 'no-errors' : publicacion.descripcion.$valid}">
					<label class="item-input-wrapper">
							<input type="text" ng-model="newComment.message"
											placeholder="Escribe un comentario"
											style="width: 100%; min-height: 31px; line-height: 26px;"
											name="descripcion" maxlength="250">
					</label>
					<button ng-click="commentPost(post, $index)" class="button button-small button-hermeco" no-double-click>
							Comentar
					</button>
				</div>

			</div>

		</div>

		<div class="item" ng-if="oldPosts && oldPosts.length > 0">
			Old Posts ({{numOldPosts}})
		</div>

		<div class="card" ng-repeat="post in oldPosts">
			<div class="item item-divider header">
				{{ post.name }}
			</div>
			<div class="item item-text-wrap">
				{{ post.post }}
			</div>
		</div>


	</ion-content>
</ion-view>