<ion-view view-title="Wall">
	<ion-content>

		<ion-refresher on-refresh="init()">
		</ion-refresher>

		<div class="item">

			<div ng-if="postInEdition">
				Editing {{ postInEdition.object.clave }} <a ng-click="deletePost()">Delete</a>
			</div>

			<textarea placeholder="Enter your text..." rows="3" ng-model="newPost.message">
      </textarea>

			<button class="button button-assertive" ng-click="setup()">
      Setup
    </button>

			<button class="button button-positive" ng-click="clear()">
      Clear
    </button>

			<button class="button button-positive" ng-click="addPost()">
      Add Post
    </button>

		</div>

		<div class="card" ng-repeat="post in posts">

			<!-- Header -->
			<div class="item item-divider header" ng-click="editPost(post, $index)">
				{{ post.name }}<br />
				<div ng-show="!post.editadoEl">
					{{ getDateFormatted(post.creadoEl) }} {{post.creadoEl | date : "'a las' h:mma" : '(UTC-05:00) Bogota'}}
				</div>
				<div ng-show="post.editadoEl">
					Editado {{ getDateFormatted(post.editadoEl) }} {{post.editadoEl | date : "'a las' h:mma" : '(UTC-05:00) Bogota'}}
				</div>
			</div>

			<!-- Body -->
			<div class="item item-text-wrap">
				{{ post.post }}
				<br />
				<div class="key">
					{{ post.clave }}
				</div>
			</div>

			<!-- Footer -->
			<div class="item footer">
				
					<img src="/img/likeit.png" ng-if="!checkPostLiked($index)" />
					<a class="subdued color-hermeco" ng-click="setLike($index)" ng-if="!checkPostLiked($index)" >
						Me gusta
					</a>
				
					<img src="/img/likeit-colored.png" ng-if="checkPostLiked($index)" />
					<a class="subdued" style="color:#BA68C8" ng-click="setLike($index)" ng-if="checkPostLiked($index)">
                    	Me gusta
					</a>
				
				<img src="/img/comments.png" />
				<a ng-click="toggleComments($index)" class="subdued">Comentarios {{ commentsCount($index) }}</a>
			</div>
			<div class="item small-footer" ng-show="post.numLikes && post.numLikes > 0">
				<a ng-click="toggleLikes($index)" class="subdued">A {{post.numLikes}} personas les gusta esta publicación</a>
			</div>

			<!-- Likes -->
			<div class="item item-divider header" ng-if="post.showLikes">
				<div class="list">
					<div class="item comment" ng-repeat="like in post.likes">
						{{ like.name }}
					</div>
				</div>
			</div>

			<!-- Comments -->
			<div class="item item-divider header" ng-if="post.showComments">
				<div class="list">

					<div class="item comment" ng-repeat="comment in post.comments" ng-click="editComment(comment, $index, $parent.$index)">
						{{ comment.name }}: {{ comment.post }}

						<div ng-show="!comment.editadoEl">
							{{ getDateFormatted(comment.creadoEl) }} {{comment.creadoEl | date : "'a las' h:mma" : '(UTC-05:00) Bogota'}}
						</div>
						<div ng-show="comment.editadoEl">
							Editado {{ getDateFormatted(comment.editadoEl) }} {{comment.editadoEl | date : "'a las' h:mma" : '(UTC-05:00) Bogota'}}
						</div>
					</div>

				</div>

				<!-- Add Comment -->
				<div ng-if="commentInEdition">
					Editing {{ commentInEdition.object.clave }} <a ng-click="deleteComment()">Delete</a>
				</div>
				<div class="item-input-inset" ng-class="{ 'has-errors' : publicacion.descripcion.$invalid , 'no-errors' : publicacion.descripcion.$valid}">
					<label class="item-input-wrapper">
							<input type="text" ng-model="newComment.message"
											placeholder="Escribe un comentario"
											style="width: 100%; min-height: 31px; line-height: 26px;"
											name="descripcion" maxlength="250">
					</label>
					<button ng-click="commentPost(post, $index)" class="button button-small button-hermeco" no-double-click>
							Comentar
					</button>
				</div>

			</div>

		</div>

		<div class="item" ng-if="oldPosts && oldPosts.length > 0">
			Old Posts ({{numOldPosts}})
		</div>

		<div class="card" ng-repeat="post in oldPosts">
			<div class="item item-divider header">
				{{ post.name }}
			</div>
			<div class="item item-text-wrap">
				{{ post.post }}
			</div>
		</div>

		<ion-infinite-scroll ng-if="readyToGetMorePosts" on-infinite="getNextPosts()" distance="50%"></ion-infinite-scroll>

	</ion-content>
</ion-view>